.classDiagramCtrl {

}

.classDiagramCtrl .model {
	border: solid 1px #CCC;
	display: inline-block;
	background:#FFF;
	border-radius: 5px;
	margin:10px;
	vertical-align: top;
	position: relative;
}

.classDiagramCtrl .model.globalPanel {
	border:0;
}

.classDiagramCtrl .model span[contentEditable],
.classDiagramCtrl .model h3[contentEditable] {
	cursor: pointer;
	min-width:5px;
}

.classDiagramCtrl .model span[contentEditable] br,
.classDiagramCtrl .model h3[contentEditable] br {
	display:none;
}

.classDiagramCtrl .model span[contentEditable]:focus,
.classDiagramCtrl .model h3[contentEditable]:focus {
	padding:5px;
	outline:0;
	background:#eee;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.4) inset;
	border-radius: 3px;
}

.classDiagramCtrl .model input {
	/*cursor: pointer;
	padding:0;
	background:none;
	border:solid 1px #CCC;
	border-radius: 3px;
	width:auto;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2) inset;
	padding:5px;*/
}

.classDiagramCtrl .model input:focus {
	/*outline:0;
	background:#EEE;*/
}

.classDiagramCtrl .modelAdd {
	height: 100px;
	width:100px;
	text-align:center;
	font-size:30px;
	line-height: 100px;
	color:#666;
	cursor: pointer;
}

.classDiagramCtrl .modelAdd:hover {
	color:#333;
}

.classDiagramCtrl .modelElement {
	border-bottom: solid 1px #CCC;
	padding:10px 10px 10px 50px;
	margin:0;
	position:relative;
	overflow:hidden;
	min-height: 66px;
}

.classDiagramCtrl .model h3 {
	text-align: center;
	background:#EEE;
	border-radius: 5px 5px 0 0;
	text-indent: 0px;
	padding: 10px;
	min-height: inherit;
}

.classDiagramCtrl .model .btn-delete-model {
	position: absolute;
	right: -1px;
	top:-1px;
	visibility:hidden; 
	z-index: 1;
}

.classDiagramCtrl .model:hover .btn-delete-model {
	visibility:visible;
}

#canvasCD .model h3:focus {
	padding: 10px;
}

.classDiagramCtrl .model ul {
	padding:0;
	margin:0;
	list-style-type: none;
}

.classDiagramCtrl .model ul li {
	margin:0 0 10px 0;
}

.classDiagramCtrl .model .formList {
	
}

.classDiagramCtrl .model .methodes {
	border-bottom: 0;
}

.classDiagramCtrl .model .modelPanel {
	position:absolute;
	top:-1px;
	left:-1px;
	background:#fff;
}

.classDiagramCtrl .model .modelPanel button {
	/*border-radius: 0;*/
}

.modelPanel .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
	border-top-right-radius: 4px;
}

.modelElement li .btn-delete {
	visibility: hidden;
}

.modelElement li:hover .btn-delete {
	visibility: visible;
}