<div class="app-panel">

    <link rel="stylesheet" type="text/css" href="css/classDiagramCtrl.css">

    <div class="row classDiagramCtrl" ng-controller="ClassDiagramCtrl" ng-init="drawModel()">
		<div class="col-lg-12">
			<h2>Class Diagram</h2>
		</div>
		<div class="col-lg-12">
			<div class="model globalPanel" >
				<div class="btn-group">
					<button type="button" class="btn btn-default" ng-click="addModel()"><i class="fa fa-plus"></i></button>

					<div class="btn-group">
					    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					    	Dropdown
					    	<span class="caret"></span>
					    </button>
					    <ul class="dropdown-menu">
					      	<li><a href="#">Dropdown link</a></li>
					      	<li><a href="#">Dropdown link</a></li>
					    </ul>
				  	</div>
				</div>
			</div><!-- END globalPanel -->
		</div>
		<div id="canvasCD" class="col-lg-12">

			<div class="model" ng-repeat="model in models">
				<h3 contentEditable="true" ng-model="model.className" class="modelElement">{{model.className}}</h3>
				<form class="form-inline">
					<div class="modelElement attributes">
						<ul>
							<li class="attr viewList animated fadeInUp" ng-repeat="attr in model.attributes">
								<span contentEditable="true" ng-model="attr.visibility" class="">{{attr.visibility}}</span>
								<span contentEditable="true" ng-model="attr.name" class="">{{attr.name}}</span>
								<span contentEditable="true" ng-model="attr.multiplicity" class="">[{{attr.multiplicity}}]</span>
								<span class="">:</span>
								<span contentEditable="true" ng-model="attr.type" class="">{{attr.type}}</span>
							</li>
							<li class="attr formList hidden animated" ng-repeat="attr in model.attributes">
								<div class="form-group">
									<select class="form-control input-sm" ng-ng-model="attr.visibility">
										<option value="-"> - private</option>
										<option value="#"> # protected</option>
										<option value="+"> + public</option>
									</select>
								</div>
								<div class="form-group">
									<input placeholder="name" type="text" ng-model="attr.name" class="form-control input-sm" value="{{attr.name}}" />
								</div>
								<div class="form-group">
									<input placeholder="multiplicity" type="text" ng-model="attr.multiplicity" class="form-control input-sm" value="{{attr.multiplicity}}" />
								</div>
								<div class="form-group">
									<span class="">:</span>
								</div>
								<div class="form-group">
									<input placeholder="type" type="text" ng-model="attr.type" class="form-control input-sm" value="{{attr.type}}" />
								</div>
							</li>
						</ul>
						<div class="modelPanel" >
							<div class="btn-group btn-group-vertical">
								<button type="button" class="btn btn-default" ng-click="switchView($event)"><i class="fa fa-eye"></i></button>
							</div>
						</div><!-- END modelPanel -->
					</div>
					<div class="modelElement methodes">
						<ul>
							<li class="meth viewList animated fadeInUp" ng-repeat="meth in model.methods">
								<span contentEditable="true" ng-model="meth.visibility" class="">{{meth.visibility}}</span>
								<span contentEditable="true" ng-model="meth.name" class="">{{meth.name}}</span>
								<span class="">(</span>
								<span contentEditable="true" ng-model="meth.parameters" class="param">{{meth.parameters}}</span>
								<span class="">)</span>
								<span class="">: return </span>
								<span contentEditable="true" ng-model="meth.return" class="" ng-blur="setReturn(meth, $event)">{{meth.return}}</span>
							</li>
							<li class="meth formList hidden animated" ng-repeat="meth in model.methods">
								<div class="form-group">
									<select class="form-control input-sm" ng-ng-model="meth.visibility">
										<option value="-"> - private</option>
										<option value="#"> # protected</option>
										<option value="+"> + public</option>
									</select>
								</div>
								<div class="form-group">
									<input placeholder="name" type="text" ng-model="meth.name" class="form-control input-sm" value="{{meth.name}}" />
								</div>
								<div class="form-group">
									<span class="">(</span>
								</div>
								<div class="form-group">
									<input placeholder="parameters" type="text" ng-model="meth.parameters" class="form-control input-sm" value="{{meth.parameters}}" />
								</div>
								<div class="form-group">
									<span class="">)</span>
								</div>
								<div class="form-group">
									<span class="">: return </span>
								</div>
								<div class="form-group">
									<input placeholder="return" type="text" ng-model="meth.return" class="form-control input-sm" ng-blur="setReturn(meth, $event)" />
								</div>
							</li>
						</ul>
						<div class="modelPanel" >
							<div class="btn-group btn-group-vertical">
								<button type="button" class="btn btn-default" ng-click="switchView($event)"><i class="fa fa-eye"></i></button>
							</div>
						</div><!-- END modelPanel -->
					</div>
				</form>
			</div><!-- END model -->

		</div>
    </div>
</div>
